* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

div#subMain2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.subMain1 {
    width: 100%;
    display: flex;
    /* height: max(80vh * 1/5, 20%); */
}

div#heading {
    font-size: 1.5rem;
    display: flex;
}



.items {
    padding: 1.5rem;
    /* overflow: overlay; */
    height: max(((80vh * 4/5)* 1/5)* 0.5/10, 5%);
    width: max(80vh * 1/5, 10%);
    word-wrap: break-word;
    /* text-align: center; */
}



.heading {
    /* display: flex; */
    /* align-items: center; */
    /* padding: 30px; */
    font-size: 1.5rem;
}

#divContainer > div {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 2fr)) repeat(2, minmax(200px, 1fr));
    grid-gap: 5px;
    margin-top: 5px;
    text-align: center;
    height: max((80vh * 4/5)* 1/5, 10%);
    /* overflow: overlay; */
    align-items: center;
    justify-items: center;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}


div#status {
    grid-column: 5 / 7;
}


main#main {
    width: 90%;
    /* border: solid 1px; */
    height: max(80vh, 80%);
    overflow: overlay;
    min-width: min-content;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.newBtnContainer {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 5px;
    width: inherit;
}

.myLibrary {
    /* display: flex; */
    /* justify-content: center; */
    background: white;
    font-size: 2rem;
    padding: 25px;
    text-align: center;
    /* width: inherit; */
    height: inherit;
    flex: 3;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btns
{
    width: 150px;
    margin: 10px;
}







menu > div {
    display: flex;
    justify-content: center;
    align-items: center;
}


table#table {background: mediumturquoise;/* width: clamp(1000px, 1300px, 100%); */padding-right: 20px;}


div#readOrNotRead {
    display: grid;
    grid-template-columns: 100px 20px;
}

.readOrNotRead {
    display: grid;
    grid-template-columns: 100px 20px;
}



dialog#dialog {
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 450px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

dialog::backdrop {
    background-color: mediumorchid;
    opacity: 0.5;
    background: linear-gradient(45deg, purple, lightgreen);
}

button {
    /* color: black; */
    background: white;
    border: none;
    padding: 10px;
    /* text-align: center; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.orangeBG {
    background: coral;
    height: min(84px, 100%);
    width: max(80vh * 1/5, 10%);
}

.pinkBG {
    background: mediumturquoise;
}

button#closeDialog {
    padding: 3px;
    /* box-shadow: 2px 2px 5px rgba(0.5, 1, 1, 0.5); */
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


dialog > div {
    background: cornflowerblue;
    display: flex;
    flex-direction: row-reverse;
}



.question4 {
    grid-row: 4 / 5;
}

.question3 {
    grid-row: 3 / 4;
}

.question2 {
    grid-row: 2 /3;
}

.question1 {
    grid-row: 1 /2;
}




.questions {
    display: grid;
    grid-template: repeat(4, minmax(50px, 1fr)) / minmax(200px, 1fr);
    justify-content: center;
    align-items: center;
}


form {
    display: grid;
    grid-gap: 50px;
    justify-items: center;
    padding: 20px;
    background: cornflowerblue;
    width: 100%;
    height: 100%;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}


main > div > button {
    /* background: turquoise; *//* padding: 5px; *//* border: 1px solid pink; */
    margin: 5px;
    height: inherit;
    flex: 1;}

button#newBook {
    margin: 0;
}

.removeBtn {
    background: turquoise;
    /* width: auto; */
    height: min(84px, 100%);
    width: max(80vh * 1/5, 10%);
}


body {
    /* display: grid; */
    /* grid-template: minmax(300px, 3fr) / 
    minmax(100px, 1fr) minmax(800px, 8fr); */
    /* grid-template-areas:
        "sidebar main"; */
    /* height: 100vh; */
    /* width: 100vw; */
    /* padding: 20px 20px 0px 0px; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}

body {
    background: dodgerblue;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


#divContainer {
    color: black;
    /* display: flex; */
    justify-content: space-around;
    background: white;
    border: none;
    /* padding: 10px;
    display: grid; */
    width: fit-content;
    /* grid-template: repeat(2, 50px) /repeat(3, minmax(100px, 1fr)) repeat(2, minmax(200px, 2fr)); */
}

